<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h2>Edition du formateur n°{{formateur.id}}</h2>

<div class="container">
    <form action="/action_page.php">
        <div class="form-group">
            <label>Nom:</label>
            <input [(ngModel)]="formateur.nom" name="nom" placeholder="{{formateur.nom}}" type="text"/>
        </div>
        <div class="form-group">
            <label>Prenom:</label>
            <input [(ngModel)]="formateur.prenom" name="prenom" placeholder="{{formateur.prenom}}" type="text"/>
        </div>
        <div class="form-group">
            <label>Adresse:</label>
            <input [(ngModel)]="formateur.adresse" name="adresse" placeholder="{{formateur.adresse}}" type="text"/>
        </div>
        <div class="form-group">
            <label>Numero de telephone:</label>
            <input [(ngModel)]="formateur.tel" name="tel" placeholder="{{formateur.tel}}" type="text"/>
        </div>
        <div class="form-group">
            <label>Matiere:</label>
            <input [(ngModel)]="formateur.matiere" name="matiere" placeholder="{{formateur.matiere}}" type="text"/>
        </div>

        <button type="submit" class="btn btn-warning" (click)="goBack()" style="margin-top:30px;background-color: darkorange;">Revenir en arriere</button>
        <button type="submit" class="btn btn-warning" (click)="save()" style="margin-top:30px;background-color: darkorange;margin-left: 15px;">Enregistrer les changements</button>
    </form>

</div>
