<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="a">La Factory <br><img src='assets/image/Image3.png' width="80" height="80" ></div>
      </div>
    </div>
</nav>

  <router-outlet></router-outlet> 

  <nav class="navbar navbar-inverse navbar-fixed-bottom" >
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
      </div>
    </nav>