<div class="matiereList">
  <h1>Liste des matières</h1>
  
    <table class="table">
      <thead >
        <tr>
          <th>ID</th>
          <th>Titre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matiere of matieres">
          <td>{{matiere.id}}</td>
          <td>{{matiere.titre}}</td>
          <button class="btn btn-warning" style="margin-bottom: 10px;background-color:darkorange;" title="delete matiere" (click)="delete(matiere)">Supprimer formateur</button>
          <a routerLink="/matiereedit/{{matiere.id}}" ><button class="btn btn-warning" style="margin-left: 15px;margin-bottom: 10px;background-color:darkorange;">Modifier</button></a>
        </tr>
      </tbody>
    </table>
    
    <br style="clear:both;" />


  </div>

