<mat-accordion>
  <mat-expansion-panel *ngFor="let panel of config.panels">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ panel.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ panel.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Que voulez vous faire?</p>
    <ul>
    <li><a routerLink="{{ panel.pathliste }}">Gerer</a></li>
    <li><a routerLink="{{ panel.pathadd }}">Nouveau</a></li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>