@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  background-color: white;
}
.page {
    display: flex;
    background-color: white;
  }
  .page__sidebar {
    background-color: white;
    color: white; }

  .page__content {
    flex: 1;
    background-color: white;
  }

  h2{display:flex;
    justify-content: center;
  }

.logo1{
  display: flex; 
  justify-content: center;
  width: 300px;
}

ul.a {
  list-style-type: circle;
  text-align: left;
}

a{
  color: black;
}
