@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.page {
    display: flex;
    background-color: white;
  }
  .page__sidebar {
    background-color: white;
    color: white }

  .page__content {
    background-color: white;
    flex: 1;
  }

  h2{display:flex;
    justify-content: center;
  }

.logo1{
  display: flex; 
  justify-content: center;
  width: 300px;
}
